html {
  font-size: 16px;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  letter-spacing: 0.5px;
}

button {
  outline: none;
}

button:hover {
  cursor: pointer;
}

svg {
  vertical-align: top;
  fill: var(--font-color);
}

a, h1, h2, h3, h4, li, p, span, input, pre {
  text-shadow: 0 0 1px rgba(0,0,0,.1);
  transform: rotate(.028deg);
}

@media (max-width: 480px) {
  html {
    font-size: 14px;
  }
}
